.container__base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 48px;
    border-radius: 8px;
    border: 1px solid #d6d6e7;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
    background-color: #fff;
}

.btn__primary {
    background-color: #6056fc;
    color: #fff !important;
    font-weight: 500;
    z-index: 2;
    text-transform: uppercase;
    background-repeat: repeat-x;
    border: 0 !important;
    border-radius: 4px;
    -webkit-transition: box-shadow .15s ease, -webkit-transform .15s ease;
    transition: box-shadow .15s ease, transform .15s ease;
    will-change: box-shadow, transform;
    box-shadow: 0 2px 4px rgb(45 35 66 / 40%), 0 7px 13px -3px rgb(45 35 66 / 30%), inset 0 -3px 0 rgb(58 65 111 / 50%);
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    padding: 12px 30px;
    min-width: 168px;
    font-size: 18px;
    font-weight: 600;
}

.btn__primary:hover {
    background-color: #493db5 !important;
    color: #fff !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1), 0 5px 20px rgba(0, 0, 0, .08), 0 0 9px rgba(0, 0, 0, .08), 0 14px 20px rgba(0, 0, 0, .08);
    outline: 0;
}