$Width-SlideBar: 280px;
$Height-Header: 72px;

$Success-Base-White: #fff;

$Bg-primary_secondary: #F9FAFB;
$bg-brand: #F0F9F7;

$Main-color-300: #FFDA43;

$Primary-50: #F0FDF9;
$Primary-100: #CCFBEF;
$Primary-500: #008585;
$Primary-600: #138d8d;
$Primary-700: #067647;

$Success-50: #ECFDF3;
$Success-200: #ABEFC6;
$Success-500: #17B26A;
$Success-600: #079455;
$Success-700: #067647;

$Warning-500: #F79009;

$Error-50: #FEF3F2;
$Error-500: #F04438;
$Error-600: #D92D20;

$Gray-modern-25: #FCFCFD;
$Gray-modern-50: #F8FAFC;
$Gray-modern-100: #EEF2F6;
$Gray-modern-200: #E3E8EF;
$Gray-modern-300: #CDD5DF;
$Gray-modern-400: #9AA4B2;
$Gray-modern-500: #697586;
$Gray-modern-600: #4B5565;
$Gray-modern-700: #364152;
$Gray-modern-800: #202939;
$Gray-modern-900: #121926;

$Blue-indigo-50: #EEF4FF;
$Blue-indigo-500: #6172F3;
$Blue-indigo-600: #444CE7;